@model PledgeManager.Web.ViewModels.PledgeShowViewModel
@using CommonMark
@{
    ViewData["Title"] = "Gestione offerta";
    ViewData["CoverUrl"] = null; // Model.Campaign.CoverUrl;
    Layout = "~/Views/Shared/Main.cshtml";
}

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h1>La tua offerta</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">

        <p>Offerta chiusa, grazie!</p>
        
    </div>
</div>
