@model PledgeManager.Web.ViewModels.PledgeShowViewModel
@{
    ViewData["Title"] = "Gestione offerta";
    Layout = "~/Views/Shared/Main.cshtml";
}

<h1>Gestione offerta</h1>

Pledge: @Model.Pledge.Id

Campaign: @Model.Campaign.Id
