@model PledgeManager.Web.ViewModels.LoginViewModel
@using PledgeManager.Web.Controllers
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h1>Login</h1>

        @if (Model.LoginFailed) {
        <div class="alert alert-danger" role="alert">
            Invalid campaign code or password.
        </div>
        }

        <form action="@Url.Action(nameof(CampaignController.PerformLogin), "Campaign")" method="post">
            <input type="hidden" name="proceed" value="@Model.ProceedUrl" />

            <div class="form-group">
                <label for="loginCampaign">Campaign code</label>
                <input type="text" class="form-control" id="loginCampaign" name="loginCampaign" />
            </div>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" class="form-control" id="loginPassword" name="loginPassword" />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
