<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Bungee|IBM+Plex+Sans:400,600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://www.paypal.com/sdk/js?client-id=Ab5riH7eE6AQBcFeOZX0P3xIOIM6KLqnBDRZh6pAViIPw7B0ZARATDeL7REJc4_h7iilqP-qAi2kNj8c&currency=EUR"></script>
</head>

<body>
    <div class="main-container">
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="title">
                            Pledge Manager
                        </div>
                    </div>
                </div>
                @if(ViewBag.CoverUrl != null) {
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <div class="themeing">
                            <img src="@ViewBag.CoverUrl" alt="" />
                        </div>
                    </div>
                </div>
                }
            </div>
        </header>

        <div class="main-content">
            <div class="container">
                @RenderBody()
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        La Compagnia delle Dodici Gemme &mdash; 2020
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
