html {
    width: 100%;
    min-height: 100vh;
    
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1em;
}

b, strong {
    font-weight: 600;
}

.top-break {
    margin-top: 2em;
}

.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
}

header {
    flex-grow: 0;
    font-family: 'Bungee';
    margin-bottom: 2em;
}
header .title {
    text-align: center;
    font-size: 1.5rem;
}
header .themeing img {
    width: 100%;
    height: auto;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border-radius: 1em;
}

h1, h2, h3, h4 {
    font-family: 'Bungee';
    font-weight: normal;
}

h1 {
    text-align: center;
}
h3, h4 {
    padding-top: 2em;
}

footer {
    flex-grow: 0;
    background-color: #EEEEEE;
    border-top: solid 2px #DDDDDD;
    color: #666;
    text-align: center;
    text-shadow: #BBB 1px 1px 1px;
    padding: 2em 0;
    margin-top: 2em;
}

.badge {
    font-size: inherit;
}

.scroll-container {
    position: relative;
}

.totals {
    position: sticky;
    top: 0px;
    margin-top: 2em;
    text-align: center;
    align-items: end;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .075);
    border-bottom: solid 3px #DDD;
    padding: 1em 0.5em 0.5em 0.5em;
}
.totals table {
    width: 100%;
}

.totals .sum {
    font-size: 1.2rem;
    font-weight: 600;
}
.totals tr {
    font-size: 0.8rem;
    font-weight: normal;
}
.totals .operand {
    font-weight: 600;
}
@media (min-width: 576px) {
    .totals .sum {
        font-size: 2.2rem;
    }

    .totals tr {
        font-size: 1.25rem;
    }
}

.order-summary {
    margin-bottom: 1em;
}

.survey-element badge {
    font-weight: 400;
}

.upgrade-suggestion {
    vertical-align: middle;
    margin-left: 0.3em;
}
